// Set the background color and text color for the Active Admin navbar
.navbar {
  background-color: #000000;
  color: #ffffff;
}

// Set the background color and text color for the Active Admin buttons
.buttons {
  background-color: darkorange;
  color: #ffffff;
}

// Set the background color for the Active Admin form fields and input groups
.input-group-text,
.form-control {
  background-color: #000000;
}

// Add any additional customizations you want for the Active Admin interface
// ...
